# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Jupyter junk
*.ipynb_checkpoints/

# Data files (adjust if you want to keep some)
*.csv
*.tsv
*.xlsx
*.zip
*.tar
*.tar.gz
*.h5
*.pkl
*.joblib

# Git and logs
.git/
*.log

# System files
.DS_Store
Thumbs.db
